@import url('https://fonts.googleapis.com/css?family=Kalam:400,700|Quicksand:400,700&display=swap');

// font-family: 'Quicksand', sans-serif;

// font-family: 'Kalam', cursive;

@import 'partials/variables',
        'partials/mixins',
        'partials/global',
        'partials/header',
        'partials/about',
        'partials/projects',
        'partials/media';