.about {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 95%;
}

.about h2{
    text-align: center;
    font-size: 1.6rem;
}

.behance,
.behance:hover {
    color: $green;
}