header {
    font-family: 'kalam', cursive;
    background: $green;
    color: $fWhite;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-size: 4rem;
    margin: 0;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
}

header h3 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
}
